<div class="grid-container">
    <div class="grid-header">
        <div class="grid-wrapper">
            <span class="grid-title">{{title}}</span>
            <span class="tag count-tag" *ngIf="data"><app-tag [bgColor]="countTagColor.background_color"
                    [textColor]="countTagColor.text_color" content="{{data.length}} users"></app-tag></span>
        </div>
        <span class="material-symbols-outlined action action-icon">
            more_vert
        </span>
    </div>
    <table class="grid-table">
        <thead>
            <tr>
                <th *ngFor="let column of columns">{{column.column_name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of data">
                <th>{{dataItem.name.first_name}}-{{dataItem.name.last_name}}- {{dataItem.name.handle}}</th>
                <th><app-tag [bgColor]="getTagColor(dataItem.status).background_color"
                        [content]="getTagColor(dataItem.status).value"
                        [textColor]="getTagColor(dataItem.status).text_color"></app-tag></th>
                <th>{{dataItem.role}}</th>
                <th><app-progress-bar [percentValue]="dataItem.license_used"></app-progress-bar></th>
                <th>
                    <app-tag *ngFor="let team of dataItem.teams" [bgColor]="team.background_color"
                        [textColor]="team.text_color" [content]="team.value"></app-tag>
                </th>
            </tr>
        </tbody>
    </table>
</div>