@import "../../../../assets/styles/variables.scss";

.progress-container {
    display: flex;
    align-items: center;

    .progress-wrapper {
        position: relative;
        width: 150px;
        content: '';

        .bar {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: inline-block;
            height: 10px;
            border-radius: 10px;
        }

        .background-bar {
            width: 100%;
            background-color: $black-700;
        }

        .progress-bar {
            animation-name: barWidthAnimation;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            background-color: $violet-400;
        }
    }

    .progress-value {
        margin-left: 10px;
        color: $black-400;
        font-weight: $font-weight-bold;
    }
}

@keyframes barWidthAnimation {
    from {
        width: 0px;
    }
}