$sidenav-width: 140px;

.main-container {
    display: flex;
    height: 100vh;
    box-sizing: border-box;

    .sidenav {
        width: $sidenav-width;
    }

    .content {
        width: 100%;
    }
}