<div class="header">
    <span class="header-title">
        {{title}}
    </span>
    <div class="actions-wrapper">
        <span class="material-symbols-outlined action action-icon">
            search
        </span>
        <button class="action action-btn">
            <span class="material-symbols-outlined">
                tune
            </span>
            Customize</button>
        <button class="action action-btn">
            <span class="material-symbols-outlined">
                cloud_download
            </span>Export</button>
    </div>
</div>