@import "../../../../assets/styles/variables.scss";

.tag-container {
    display: inline-block;
    border: 1px solid;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 17px;
    margin: 5px;
    font-weight: $font-weight-bold;
}