@import "./assets/styles/variables.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-family;
}

// Setting border box for layout consistency
div {
    box-sizing: border-box;
}

// Input custom styles
input[type="checkbox"] {
    appearance: none;
    background-color: $black-900;
    margin: 0;
    color: $black-600;
    width: 20px;
    height: 20px;
    border: 1px solid $black-600;
    border-radius: 1px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: .2s transform ease-in-out;
    box-shadow: inset 20px 20px $violet-400;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

// Action icon styles
.action.action-icon {
    padding: 10px;
    margin: 10px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        background-color: $black-600;
        border-radius: 5px;
        cursor: pointer;
        color: $black-300;
    }
}

// Action button styles
.action.action-btn {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid $black-600;
    background: $black-900;
    margin: 5px;
    color: $black-400;
    font-weight: $font-weight-hard;

    span {
        margin: 5px;
    }

    &:hover {
        background-color: $black-600;
        cursor: pointer;
        color: $black-300;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
}

// Profile icon styles
.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: $black-700;

    img {
        width: 100%;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        font-weight: $font-weight-bold;
        color: $black-400;
        transform: translate(-50%, -50%);
        display: inline-block;
    }
}

// card styles
.card.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .header {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .action-icon {
            color: $black-500;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .title {
                color: $black-300;
                font-size: 24px;
                font-weight: $font-weight-hard;
            }

            .sub-title {
                font-size: 20px;
                color: $black-500;
                margin-top: 15px;
                font-weight: $font-weight-bold;
            }
        }
    }

    .header.border-bottom {
        border-bottom: 1px solid $black-700;
    }

    .footer {
        height: 95px;
        padding: 10px;
        border-top: 1px solid $black-700;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.column-chart {

    .highcharts-point {
        stroke-width: 0;
        border-top-left-radius: 15%;
        border-top-right-radius: 15;
    }

    .highcharts-axis-title {
        font-size: 16px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        color: $black-300;
    }

    .highcharts-xaxis-labels {
        text {
            color: $black-500
        }
    }
}