$black-100: #000000;
$black-200: #202020;
$black-300: #333333;
$black-400: #656565;
$black-500: #808080;
$black-600: #dedede;
$black-700: #eaeaea;
$black-800: #f9fafb;
$black-900: #ffffff;

$black-transparent-200: #00000022;

$violet-400: #7958d2;

$font-weight-light: 200;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-hard: 600;

$font-family: Roboto, "Helvetica Neue", sans-serif;